# rust
**/target
crates/*/**/Cargo.lock

# .env
DEV.env
.env.local

# node/js
node_modules

# general wick/wasm
/build
.wick/
crates/wick-rpc/src/generated/wick.rs
crates/**/src/generated/mod.rs
/crates/integration/*/build

# misc
archive
.vscode/*.log
.DS_Store
