[submodule "sdk"]
path = sdk
url = git@github.com:vinodotdev/vino-sdk.git
branch = main
[submodule "forks/www-authenticate"]
path = forks/www-authenticate
url = git@github.com:vinodotdev/www-authenticate.git
[submodule "forks/nkeys"]
path = forks/nkeys
url = https://github.com/vinodotdev/nkeys.git
[submodule "forks/wascap"]
path = forks/wascap
url = https://github.com/vinodotdev/wascap.git
[submodule "forks/oci-distribution"]
	path = forks/oci-distribution
	url = git@github.com:vinodotdev/oci-distribution.git
