/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "./variables/colors.modules.css";

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.navbar__logo {
  margin: 0px;
  height: 44px;
}

.navbar__logo img {
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

img.image-float-right {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

table {
  width: 100%;
  display: table !important;
}


/* Information badges below */

.badgeRed {
  background: var(--ifm-color-primary);
  color: white;
  padding: 0.2rem;
  font-weight: 750;
  border-radius: 4px;
  margin-right: 1rem;
}

.badgeDarkBlue {
  background: var(--ds-blue-900);
  color: var(--ds-gray-100);
  font-weight: 750;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.badgeMint {
  background: #01c3a5;
  color: var(--ds-gray-900);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeGold {
  background: #fbd741;
  color: var(--ds-gray-900);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeOrange {
  background: #ec5c26;
  color: var(--ds-white);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeLime {
  background: #98cb3c;
  color: var(--ds-gray-900);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeYellow {
  background: #fddf7f;
  color: var(--ds-gray-600);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.code-block-highlighted-line {
  background-color: #ffea0020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ffea0080;
}

.code-block-error-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}


/********************************/

.attribute {
  border: 1px solid var(--ifm-table-border-color);
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.attribute header {
  color: var(--ifm-color-primary-contrast-foreground);
  background-color: var(--ifm-color-primary-contrast-background);
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0.75rem;
}

.attribute p {
  margin-bottom: 0.75rem;
}

.attribute header span.badge {
  padding: 0.4rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  font-size: 100%;
  height: 32px;
  /* line-height: 20px; */
  min-width: 225px;
  display: inline-block;
  box-sizing: border-box;
}

.attribute header code {
  box-sizing: border-box;
  padding: 0.4rem 1rem;
  margin: 0 0.5rem 0.1rem 0;
  /* margin-bottom: 0.3rem; */
  height: 32px;
  line-height: 17px;
  display: inline-block;
  min-width: 350px;
}

.attribute header .required {
  color: #ec5c26;
  /* font-size: 175%; */
}

.attribute p {
  padding: 0 0.75rem;
}

.attributes .anchor {
  margin: 0;
  display: block;
  overflow: hidden;
  height: 0;
  position: relative;
  top: -80px;
}
