spec: apex.axdl
config:
  name: {{ .name }}
  package: {{ .package }}
  module: {{ .module }}
plugins:
  - 'https://raw.githubusercontent.com/nanobus/iota/main/codegen/src/tinygo/plugin.ts'
  - '{{ .plugin }}'
