[package]
name = "wick-test"
version = "0.0.0"
edition = "2021"
license = "Elastic-2.0"
repository = "https://github.com/candlecorp/wick"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
tap = { workspace = true }
wick-packet = { workspace = true, features = [] }
wasmrs-codec = { workspace = true }
wick-rpc = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde-value = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["io-std", "macros", "rt-multi-thread"] }
tokio-stream = { workspace = true }
tracing = { workspace = true }
