[package]
name = "wasmflow-invocation"
version = "0.10.0"
edition = "2021"
license = "Apache-2.0"
description = "SDK for native and WASM Wasmflow components"
documentation = "https://wasmflow.com"
keywords = ["wasm", "wasmflow", "actor", "flow"]
categories = ["wasm"]
exclude = ["tests/*", ".github/*", ".gitignore"]
authors = ["Jarrod Overson <jsoverson@gmail.com>"]
repository = "https://github.com/wasmflow/wasmflow-sdk"
homepage = "https://wasmflow.com"

[badges]
maintenance = { status = "actively-developed" }

[features]

[dependencies]
wasmflow-transport = { path = "../wasmflow-transport", version = "0.10.0-beta.4" }
wasmflow-packet = { path = "../wasmflow-packet", version = "0.10.0-beta.4", features = [
  "all",
] }
wasmflow-entity = { path = "../wasmflow-entity", version = "0.10.0-beta.4" }
serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.1", features = ["v4", "serde"] }
thiserror = "1.0"

[dev-dependencies]
